<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->
<div class="bg-barra">
	<nav class="limitador navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="/">
			<img src="public/vetores/logonavbar.svg" alt="">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarToggler">
			<div class="navbar-nav w-100" style="justify-content: space-evenly;">
				<a class="nav-link" href="/sobre">Sobre Nós</a>
				<a class="nav-link" href="/dados">Dados Coletados</a>
			</div>
		</div>
	</nav>
</div>
