img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1366px;
	margin: 0px auto;	
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}

.rodape-inferior-manter {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: calc(100vh - 184px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.bg-barra {
    background-color: #163C3F;
    color: #DCE3EC;  
    padding: 10px 0;
}