img {
	max-width: 100%;
}

html, body {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1366px;
	margin: 0px auto;	
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

.rodape {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
}

.rodape-inferior-manter {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: calc(100vh - 184px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.bg-escuro {
    background-color: #163C3F;
}

.bg-cinza{
	background-color: #DCE3EC;
}

.cabecalho-branco{
    background-color: white;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 0 auto;
    padding: 10px 0;
	align-content: center;
    text-align: center;
}

#centralizar{
    text-align: center;
    /* align-items: center; */
    align-content: center;
    /* justify-content: center; */
}

.fundo-opaco{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.redondo{
	border-radius: 30px;
}