<div class="cabecalho-branco">
    <img src="public/vetores/logoslogan.svg" alt="">
</div>

<div class="limitador bg-cinza mb-5 py-5">
    <div class="container-fluid mt-3 bg-escuro py-5 px-5 redondo" style="max-width: 80vh ;">
        <div class="row">
            <div class="col">
                <div>
                    <h2>
                        O que nossos clientes dizem:
                    </h2>
                    <hr class="linha">
                    <p>
                        A AgroData é reconhecida pela inovação e pelo impacto que traz ao setor agro, transformando a maneira como os produtores gerenciam suas terras e suas colheitas por meio da análise de dados.
                    </p>
                </div>
            </div>
            <div class="col centralizar">
                <div class="fundo-opaco">
                    <div class="p-3">
                        <img src="vetores/profile.svg" alt="">
                        <p class="mt-3">
                            "Com a Agro-Data, consegui reduzir o consumo de água em 30% e aumentar a produtividade em 20%. A plataforma é fácil de usar."
                        </p>
                        <p><span class="bold">-João Silva, Produtor Rural</p>
                    </div>
                </div>
            </div>
            <div class="col centralizar">
                <div class="fundo-opaco">
                    <div class="p-3">
                        <img src="vetores/profile.svg" alt="">
                        <p class="mt-3">
                            "Os sensores da Agro-Data mudaram a forma como cuido da minha terra e planejo minhas colheitas." 
                        </p>
                        <p><span class="bold">-Maria Oliveira, Agricultora</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>